# Certum Code Signing Certificate Verification

This file is placed within the 'bundlingway' repository to assist Certum (certum.eu) in verifying control of this project for the code signing certificate application associated with:

**Certum Order Number: ZoZE/000891/US/17/03/2025**

The presence of this file, committed by the repository maintainer, confirms that the applicant for the specified order has control over this GitHub repository.

*This file does not contain the applicant's legal name due to privacy policies associated with this project.*

Date Added: 2025-03-26
